    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12">
                <h2>What is Boxtoken?</h2>
                <p>Boxtoken is a decentralized application with ethereum smart contract or more popularly called erc20.</p>
                <p>Boxtoken has been supported by popular wallets on your computer, your smartphone, or websites like Mew, Metamask, Trustwallet, Imtoken and other erc20 wallets.</p>
                <p>One of the most popular uses for Boxtoken is "tipping" fellow internet-goers who create or share great content. Think of it as a more meaningful "like" or upvote, with real value that can be used all across the internet.</p>
            </div>
                <h2>Token Alocation</h2>
                <div><img src="img/alocation.png" alt="" width="500" height="500"></div>
        </div>
    </section>
