    <!-- Alocate Section -->
    <section id="alocate" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12">
                <h2>Token Alocation</h2>
                <p><b>Token suply 75,000,000,000 GIVING</b></p>
                <p></p>
                <p>Team & Advisr <font color="red"> 7% </font> Reserve <font color="orange">15%</font>Premium members <font color="purple">30%</font> Community Cmpaign <font color="green">50%</font></p>
            </div>
        </div>
    </section>
