    <!-- Alocation Section -->
    <section id="alocation" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-4">
                <h2>Token alocation</h2>
				<div class="total">Total <em>1,325,000,000</em> BORA</div>
				<div class="cont">
					<div class="graph">
						<div class="img_section">
							<img src="/img_graph.png" class="pc_img" alt="">
						</div>
						<ul>
							<li>Token sale <em>40%</em></li>
							<li>Reserve <em>20%</em></li>
							<li>Ecosystem <em>25%</em></li>
							<li>Team &amp; Advisor <em>15%</em></li>
						</ul>
					</div>
				</div>
				<p class="txt"><span>Token Sale Complete</span></p>
				<p class="txt2">BORA Token Smart Contract Address</p>
				<a href="https://etherscan.io/token/0x26fb86579e371c7aedc461b2ddef0a8628c93d3b" target="_blank">
					<img src="./img/btn_address.png" class="token_img" alt="">
				</a>
				<p class="txt3">Check official BORA Token distribution with the Smart Contract address.</p>
			</div>
		</section>
