    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <div><img src="img/profile.png" alt=""></div>
                            <div class="col-lg-8">
                        <p class="intro-text">{{ site.description }}</p>
                            </div>
                        <p><b>START USING GIVING TOKEN TODAY:</b></p>
                            <div class="col-lg-12">
                          <ul class="list-inline">
                            <li>
                                <a href="https://myetherwallet.com/" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> MEW
                    </a>
                            </li>
                            <li>
                                <a href="https://metamask.io/" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Metamask
                    </a>
                            </li>
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=com.wallet.crypto.trustapp" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Trust wallet
                    </a>
                            </li>
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=im.token.app" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Imtoken
                    </a>
                            </li>
                        </ul>
                </div>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
